.framesize-page{
    background-color: snow;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    max-height: 100%;
}

.framesize-h1{
    font-weight: lighter;
    text-align: center;
}

.framesize-btn1{
    position: relative;
    background: white;
    color: grey;
    padding: 20px 40px;
    left: 20%;
    border-radius: 10px;
    cursor: pointer;
}

.framesize-btn2{
    position: relative;
    padding: 20px 40px;
    margin-top: 10%;
    border-radius: 10px;
    left: 18%;
    background: white;
    color: grey;
    cursor: pointer;
}

.framesize-btn3{
    position: relative;
    padding: 20px 40px;
    margin-top: 10%;
    left: 20%;
    border-radius: 10px;
    background: white;
    color: grey;
    cursor: pointer;
}